@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

button {
  background-color: #abd3a3;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
}

button:hover {
  background-color: purple; /* Green */
  color: white;
}
